<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Registration</title>
</head>
<body>
    <h1>Welcome!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h3>Register</h3>
    <form action="{% url 'process'%}" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name: <input type="text" name="first_name"></label>
        <label for="last_name">Last Name: <input type="text" name="last_name"></label>
        <label for="email">Email: <input type="text" name="email"></label>
        <label for="password">Password: <input type="text" name="password"></label>
        <label for="cf_password">Confirm PW: <input type="text" name="cf_password"></label>
        <label for="birthday">Date of Birth: <input type="date" name="birthday"></label>
        <input type="hidden" name='type' value="register">
        <input type="submit" value="Register">
    </form>

    <h3>Login</h3>
    <form action="{% url 'process'%}" method="POST">
        {% csrf_token %}
        <label for="email">Email:" <input type="text" name="email"></label>
        <label for="password">Password:" <input type="text" name="password"></label>
        <input type="hidden" name='type' value="login">
        <input type="submit" value="Login">
</body>
</html>